.tab-item_text {
	background-color: var(--main-feather);
	line-height: 1.5;
}

.tab-item_text.enabled{
	display: block;
	padding: 30px;
}

.tab-item_text.disabled{
	display: none;
}

.tab{
    padding-top: 5%;
	padding-bottom: 5%;
}

.tab a{
	background-color: blue;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.tab.selected{
    background-color: pink;
}

.tab a:hover {
  background-color: #ddd;
  color: black;
}

